{% extends "base.html" %}
{% block page_content %}
  <div id="outer-content">
    <div id="content">
      <div id="main">
	<div class="header">
	<h1>About us</h1>
	</div>
<p>This resource was built and is maintained by the Kroncke lab at the Vanderbilt University Medical Center
    <a href="https://kroncke-lab.github.io/index.html">(Kroncke lab website)</a>. Please send any questions or comments to
    brett.m.kroncke.1@vumc.org. Here we develop a model where information such as variant function and
    structural location can inform an estimate of the risk of disease before the observation of heterozygous carriers, a
    prior penetrance estimate for each variant. This analysis (described in greater detail on the
    Penetrance Analysis page) enables an estimate of penetrance for all variants for which these data are available,
    even before observing in a single individual.</p>

<div class="header">
	<h1><i>KCNH2 </i> background</h1>
	</div>
<p> 
<p><i>KCNH2</i> (also known as the human ether a-go-go related gene, hERG) encodes a 1,159 amino acid protein,
          K<sub>V</sub>11.1, a voltage-gated potassium channel in the heart. Coding-altering variants in <i>KCNH2</i>
          have been mostly linked to the heart arrhythmias, <a href="https://www.omim.org/entry/613688">Long QT Syndrome
              Type 2</a> (LQT2), and <a href="https://www.omim.org/entry/609620">Short QT Syndrome</a> (SQT1). Loss-of-function variants in <i>KCNH2</i> are
          associated LQT2 and gain-of-function variants are associated with short QT Syndrome. The risk of sudden cardiac
          death from these conditions can often be prevented with drug therapy or implantation of a defibrillator. <i>KCNH2</i>
          variants are often studied <i>in vitro</i> in heterologous expression systems using patch clamp electrophysiology. One challenge
          with <i>KCNH2</i>-related diseases is the issue of incomplete penetrance—only a fraction of variant carriers
          have disease phenotypes. Therefore, we believe that curating published patient data and <i>in vitro</i> functional data
          can contribute to a better understanding of each variant’s disease risk. Use the dropdown tab at the upper left
          of the screen to access the full <i>KCNH2</i> dataset.

</p>
	<div class="header">
		<h1>The <i>KCNH2</i> dataset</h1>
	</div>
<p>The dataset described on this website is a dataset of patient data and <i>in vitro</i> patch clamp data. This dataset
    was first described in <a href="https://pubmed.ncbi.nlm.nih.gov/34309407/">Kozek et al. 2021</a> in Circulation:
    Genomics and Precision Medicine. The data were curated from a comprehensive literature
    review from papers written about <i>KCNH2</i> (or K<sub>V</sub>11.1, the protein product of <i>KCNH2</i>). In addition, five
    centers that hold cardiology clinics and conduct research gathered clinical phenotypes and genotypes for individuals
    heterozygous for <i>KCNH2</i> variants, including Unité de Rythmologie, Centre de Référence Maladies Cardiaques Héréditaires,
    Service de Cardiologie, Hôpital Bichat, Paris, France; the Center for Cardiac Arrhythmias of Genetic Origin Istituto
    Auxologico Italiano IRCCS, Milan, Italy; Shiga University of Medical Science Department of Cardiovascular and
    Respiratory Medicine, Shiga, Japan; National Cerebral and Cardiovascular Center, Osaka, Japan; Nagasaki University,
    Nagasaki, Japan. We quantified the number of carriers presenting with and without disease for 871 reported
    <i>KCNH2</i> variants (an additional 266 <i>KCNH2</i> inframe/missense variants coming from the international
    cohort). For approximately 180 variants, data were also available for at least one of six K<sub>V</sub>11.1
    electrophysiologic parameters collected heterzygously and/or homozygously: steady state maximum current, peak tail
    current, steady state V1/2 of activation and inactivation, recovery from inactivation,
    and deactivation time. We found that heterozygously collected peak tail current significantly associated with LQT2
    penetrance (Spearman’s rank test rho = 0.6, p < 0.001). This relationship persisted across the literature and cohort
    datasets.
</p>
	<div class="header">
        <h1>Details on <i>KCNH2</i> functional parameters</h1>
	</div>
<p>The functional parameters available in this website are presented as follows: steady state (S.S.) and peak tail current are relative % to
    wildtype (100% being no different from wildtype). V<sub>0.5</sub> act/inact are the voltages at which half of the maximal
    current is reached during an activation and inactivation protocol, each is in units of mV and relative to wildtype (i.e., wildtype = 0mV).
    Recovery from inactivation (Rec. inact.) and deactivation time (Deactivation) are the ratio of characteristic time
    constants with wildtype (unitless). These functional parameters are all referenced to wildtype by either
    percent (peak current, recovery from inactivation, or late current) or relative change
    (V<sub>0.5</sub> activation/inactivation; mV).</p>

<div class="header">
	<h1><i>SCN5A </i> background</h1>
	</div>
<p><i>SCN5A</i> encodes a 2,016 amino-acid ion channel, Na<sub>V</sub>1.5, the main voltage-gated sodium channel in the heart.
    Code-altering (missense) variants in <i>SCN5A</i> have been linked to many arrhythmia and cardiac conditions including
    <a href="https://www.omim.org/entry/601144">Brugada Syndrome Type 1</a> (BrS1), <a href="https://www.omim.org/entry/603830">Long QT Syndrome Type 3</a>
    (LQT3), <a href="https://www.omim.org/entry/601154">dilated cardiomyopathy</a>, <a href="https://www.omim.org/entry/113900">cardiac
        conduction disease</a>, and <a href="https://www.omim.org/entry/608567">Sick Sinus Syndrome</a>.
    Loss-of-function variants in <i>SCN5A</i> are associated with Brugada Syndrome and other cardiac conduction defects;
    gain-of-function variants are associated with Long QT Syndrome. <i>SCN5A</i> variants are
    often studied <i>in vitro</i> in heterologous expression systems using patch clamp electrophysiology. One challenge with
    <i>SCN5A</i>-related diseases is the issue of incomplete penetrance—only a fraction of variant carriers have disease
    phenotypes. Therefore, we believe that curating published patient data and <i>in vitro</i> functional data can
    contribute to a better understanding of each variant’s disease risk.
</p>
	<div class="header">
		<h1>The dataset</h1>
	</div>
<p>The dataset described on this website is a dataset of patient data and in vitro patch clamp data. This dataset was
    first described in <a href="https://pubmed.ncbi.nlm.nih.gov/29728395/">Kroncke and Glazer et al. 2018, Circulation:
        Genomic and Precision Medicine</a>. The data were curated from a comprehensive literature review from
    papers written about <i>SCN5A</i> or Na<sub>V</sub>1.5. We quantified the number of
    carriers presenting with and without disease for 1,712 reported <i>SCN5A</i> variants. For 356 variants, data were
    also available for five Na<sub>V</sub>1.5 electrophysiologic parameters: peak current, late/persistent current, steady state
    V<sub>0.5</sub> of activation and inactivation, and recovery from inactivation. We found that peak and late current
    significantly associated with BrS1 (p < 0.001, rho = -0.44, Spearman’s rank test) and LQT3 disease penetrance
    (p < 0.001, rho = 0.4). Steady state V<sub>0.5</sub> activation and recovery from inactivation also associated significantly
    with BrS1 and LQT3 penetrance, respectively.
</p>

	<div class="header">
		<h1>Update to the dataset</h1>
	</div>
<p>This dataset was updated with papers published through January 2020. The description of the revised dataset published
    in <a href="https://pubmed.ncbi.nlm.nih.gov/32569262/">Kroncke et al, 2020, PLOS Genetics</a>.
    This paper also includes an updated Bayesian method for estimating the
    penetrance of each variant.</p>

    </div>
  </div>
</div>
{% endblock %}

