{% extends "base.html" %}
{% block page_content %}
  <div id="outer-content">
    <div id="content">
      <div id="main">
	<div class="header">
	<h1>About us</h1>
	</div>
<p>This resource was built and is maintained by the Kroncke lab at the Vanderbilt University Medical Center
    <a href="https://kroncke-lab.github.io/index.html">(Kroncke lab website)</a>. Please send any questions or comments to
    brett.m.kroncke.1@vumc.org.</p>

<div class="header">
	<h1><i>KCNH2 </i> background</h1>
	</div>
<p> 
<p><i>KCNH2 </i> (also known as the human ether a-go-go related gene, hERG) encodes a 1159 amino acid protein,
          KV11.1, a voltage-gated potassium channel in the heart. Coding-altering variants in <i>KCNH2</i>
          have been mostly linked to the heart arrhythmias, Long QT Syndrome Type 2 (LQT2 https://www.omim.org/entry/613688)
          and Short QT Syndrome (SQT1; https://www.omim.org/entry/609620). Loss-of-function variants in <i>KCNH2</i> are
          associated LQT2 and gain-of-function variants are associated with short QT Syndrome. The risk of sudden cardiac
          death from these conditions can often be prevented with drug therapy or implantation of a defibrillator. <i>KCNH2</i>
          variants are often studied in vitro in heterologous expression systems using patch clamp electrophysiology. One challenge
          with <i>KCNH2</i>-related diseases is the issue of incomplete penetrance—only a fraction of variant carriers
          have disease phenotypes. Therefore, we believe that curating published patient data and in vitro functional data
          can contribute to a better understanding of each variant’s disease risk.

</p>
	<div class="header">
		<h1>The <i>KCNH2</i> dataset</h1>
	</div>
<p>The dataset described on this website is a dataset of patient data and <i>in vitro</i> patch clamp data. This dataset
    was first described in Kozek et al. 2021 in (<a href="https://pubmed.ncbi.nlm.nih.gov/34309407/">Circulation.
        Genomics and Precision Medicine</a>). The data were curated from a comprehensive literature
    review from papers written about <i>KCNH2</i> (or Kv11.1, the protein product of <i>KCNH2</i>). In addition, five
    centers that hold cardiology clinics and conduct research gathered clinical phenotypes and genotypes for individuals
    heterozygous for KCNH2 variants, including Unité de Rythmologie, Centre de Référence Maladies Cardiaques Héréditaires,
    Service de Cardiologie, Hôpital Bichat, Paris, France; the Center for Cardiac Arrhythmias of Genetic Origin Istituto
    Auxologico Italiano IRCCS, Milan, Italy; Shiga University of Medical Science Department of Cardiovascular and
    Respiratory Medicine, Shiga, Japan; National Cerebral and Cardiovascular Center, Osaka, Japan; Nagasaki University,
    Nagasaki, Japan. We quantified the number of carriers presenting with and without disease for 871 reported
    <i>KCNH2</i> variants (an additional 266 <i>KCNH2</i> inframe/missense variants coming from the international
    cohort). For ### variants, data were also available for six KV11.1 electrophysiologic parameters: steady state
    maximum current, peak tail current, steady state V1/2 of activation and inactivation, recovery from inactivation,
    and deactivation time. All six of these parameters are found in the literature collected homozygously and
    heterozygously. We found that heterozygously collected peak tail current significantly associated with LQT2
    (p < 0.001, rho = -0.62, Spearman’s rank test). This relationship persisted across the literature and cohort
    datasets.
</p>
	<div class="header">
        <h1>Details on <i>KCNH2</i> functional parameters</h1>
	</div>
<p>The functional parameters available in this website are Steady state (S.S.) and peak tail current are relative % to
    wildtype (100% being no different from wildtype). V0.5 act/inact are the voltages at which half of the maximal
    current is reached during an activation and inactivation protocol, each is in units of mV and relative to wildtype.
    Recovery from inactivation (Rec. inact.) and deactivation time (Deactivation) are the ratio of characteristic time
    constants with wildtype (unitless). These functional parameters are all referenced to that of wild type by either
    percent (peak current, recovery from inactivation, or late current) or relative change
    (V1/2 activation/inactivation; mV).</p>

<div class="header">
	<h1><i>SCN5A </i> background</h1>
	</div>
<p><i>SCN5A </i>is a 2016 amino acid gene. It encodes NaV1.5, the main voltage-gated sodium channel in the heart.
    Coding-altering variants in <i>SCN5A</i> have been linked to many arrhythmia and cardiac conditions, including
    Brugada Syndrome Type 1 (BrS1 https://www.omim.org/entry/601144), Long QT Syndrome Type 3
    (LQT3 https://www.omim.org/entry/603830), dilated cardiomyopathy (https://www.omim.org/entry/601154), cardiac
    conduction disease (https://www.omim.org/entry/113900), and Sick Sinus Syndrome (https://www.omim.org/entry/608567).
    Loss of function variants in <i>SCN5A</i> are associated with Brugada Syndrome and other cardiac conduction defects,
    and gain of function variants are associated with Long QT Syndrome. The risk of sudden cardiac death from these
    conditions can often be prevented with drug therapy or implantation of a defibrillator. <i>SCN5A</i> variants are
    often studied in vitro in heterologous expression systems using patch clamp electrophysiology. One challenge with
    <i>SCN5A</i>-related diseases is the issue of incomplete penetrance—only a fraction of variant carriers have disease
    phenotypes. Therefore, we believe that curating published patient data and <i>in vitro</i> functional data can
    contribute to a better understanding of each variant’s disease ris. We further suggest data such as function and
    structural location can inform an estimate of the risk of disease in the absence of heterozygote observations, a
    prior penetrance or positive predictive value for each variant. This analysis (described in greater detail on the
    Penetrance Analysis page) enables an estimate of penetrance for all variants for which these data are available,
    even before observing in a single individual.
</p>
	<div class="header">
		<h1>The dataset</h1>
	</div>
<p>The dataset described on this website is a dataset of patient data and in vitro patch clamp data. This dataset was
    first described in Kroncke and Glazer et al. 2018, Circulation: Genomic and Precision Medicine
    (https://pubmed.ncbi.nlm.nih.gov/29728395/). The data were curated from a comprehensive literature review from
    papers written about <i>SCN5A</i> (or Nav1.5, the protein product of <i>SCN5A</i>). We quantified the number of
    carriers presenting with and without disease for 1,712 reported <i>SCN5A</i> variants. For 356 variants, data were
    also available for five NaV1.5 electrophysiologic parameters: peak current, late/persistent current, steady state
    V1/2 of activation and inactivation, and recovery from inactivation. We found that peak and late current
    significantly associated with BrS1 (p < 0.001, rho = -0.44, Spearman’s rank test) and LQT3 disease penetrance
    (p < 0.001, rho = 0.37). Steady state V1/2 activation and recovery from inactivation also associated significantly
    with BrS1 and LQT3 penetrance, respectively.
</p>

	<div class="header">
		<h1>Update to the dataset</h1>
	</div>
<p>This dataset was updated with papers published through January 2020. The description of the revised dataset published
    in Kroncke et al, 2020, PLOS Genetics. This paper also includes an updated Bayesian method for estimating the
    penetrance of each variant.</p>

	<div class="header">
		<h1>Automated patch clamp data</h1>
	</div>
<p>We have recently published an automated patch clamp study of >80 <i>SCN5A</i> variants (Glazer et al, American
    Journal of Human Genetics, 2020). This is a promising method for rapidly collecting in vitro functional data and
    reclassifying variants of uncertain significance. The full automated patch clamp dataset is available here
    [https://ars.els-cdn.com/content/image/1-s2.0-S0002929720301622-mmc2.csv] and has been integrated into the dataset
    on this website.</p>

	<div class="header">
		<h1>Details on functional parameters</h1>
	</div>
<p>The functional parameters available in this website are peak current (overall function of the channel), V1/2
    activation and inactivation (steady state voltages at which half of the channels open or inactivate, respectively),
    recovery from inactivation (characteristic time the channel takes to recover), and late/persistent current (current
    that persists after the channel "should" be closed). These functional parameters are all referenced to that of wild
    type by either percent (peak current, recovery from inactivation, or late current) or relative change
    (V1/2 activation/inactivation; mV).</p>


    </div>
  </div>
</div>
{% endblock %}

